body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main_conteiner {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

@media screen and (max-width: 680px) {
    .main_conteiner {
        flex-direction:column;
        margin: 15px auto;
    }
}
/* main content */

.main_content{
    padding: 40px;
    box-shadow: 6px 6px 20px;
    position: relative;
}

@media screen and (max-width: 680px) {
    .main_content {
        flex-direction:column;
        padding: 40px;
        position: relative;
    }
}

/* about me section */

.about_me_section {
    margin: 0 0 40px 0;
    /* position: relative; */
}

.lang__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    right: 7px;
    top: -12px;
}

.lang__item {
    padding: 0;
    margin: 0;
    background-color: #1E2939;
    color: #ffffff;
    font-weight: 700;
    
    border-radius: 50%;
}

.lang__item:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.lang__item:not(:last-child) {
    margin-right: 10px;
}

.lang__button {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    display: block;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 680px) {
    .lang__list{
        left: 0;
        top: -16px;
        justify-content: start;
    }

    .lang__item {        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
        background-color: #d9dbdd;
        color: #595959;
    }

    .lang__item:not(:last-child) {
    }

    .lang__button {
        font-size: 10px;
        display: block;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.about_me_profession {
    display: none;
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px 0;
}

.about_me_name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}



@media screen and (max-width: 680px) {
    .about_me_name {
        font-size: 25px;
        line-height: 35px;
        margin: 0 0 45px 0;
<<<<<<< HEAD
=======
        
>>>>>>> 57d817951e78e81a9682cd4fe02c9cecd0292407
        width: 100px;
    }
}

.about_me_text{
    max-width: 75%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}



@media screen and (max-width: 680px) {
    .about_me_text {
        max-width: 100%;
    }
}

/* my project section */

.my_project_section {
    margin: 0 0 50px 0;
}

@media screen and (max-width: 680px) {
    .my_project_section {
        margin: 0 0 20px 0;
    }
}

.my_project_list{
    padding: 0 0 0 17px;
}

.my_project_list_item{
    color: #000;
    font-weight: bold;    
}

.my_project_list_link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


.my_project_list_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my_project_list_bracket,
.my_project_list_bracket1 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

@media screen and (max-width: 1100px) {
    .hidden {
        display: none;
    }

    .my_project_list_bracket1::before {
        content: '';
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .my_project_list_link,
    .my_project_list_text,
    .my_project_list_bracket,
    .my_project_list_bracket1
    {
        font-size: 14px;
    }

    .my_project_list_bracket1::before {
        content: '';
        display: none;
    }
}








/* work experience */

.my_work_experience_company{
    margin: 0 15px 0 0;
}

.my_work_experience_orange_text{
    color: #FB6D3A;
}

.my_work_experience_lable{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.my_work_experience_date{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.my_work_experience_vertical{
    color: #000000;
}

.my_work_experience_duties{
    padding: 0 0 0 18px;
}

.my_work_experience_duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959
}

/* my education */
.main_content_title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 45px 0 10px 0;
}


@media screen and (max-width: 680px) {
    .main_content_title {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
}

.my_education_lable{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.my_education_specialization{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}

.my_education_date{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.my_education_vertical{
    color: #000;
}

/* sidebar */

.sidebar{
    background-color : #1E2939;
    max-width: 370px;
    padding: 40px 0;
}
@media screen and (max-width: 680px) {
    .sidebar{
        max-width: 100%;
        width: 100%;
    }
}

.sidebar_img{
    width: 370px;
}

@media screen and (max-width: 680px) {
    .sidebar_img {
        position: absolute;
        top: 30px;
        right: 50px;
        width: 120px;
        border-radius: 50%;
    }
}

.cotacts,
.tech_skills,
.soft_skills,
.bio,
.lang_skills {
    margin: 20px 0 0 40px;
}

.sidebar_title{
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

/* contacts */

.cotacts_tipe{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}

.cotacts_link,
.bio__info {
    color: #8E949C;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

/* tech skills */
/* soft skills */
/* lang skills */

.tech_skills_list, 
.lang_skills_list,
.soft_skills_list {
    padding: 0;
    padding-left: 17px;   
}

.tech_skills_list_item,
.soft_skills_list_item,
.lang_skills_list_item {
    color : #FB6D3A;
}

.tech_skills_list_item_text,
.lang_skills_list_item_text,
.soft_skills_list_item_text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


